html, body{
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    background-color: #F9FAFF;
}

#main{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-image: url("https://github.com/Ellie-404/Cv-par-arbeid/blob/main/Simon%20Asefa%20Cv/Img/Vector.png?raw=true");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    background-size: 100% auto;
}

p{
    font-family: 'Nunito', sans-serif;
    color: #828282;
}

h1,h2,h3{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

button{
    background-color: #FDC435;
    border: 2px solid transparent;
    border-radius: 5px;
    width: auto;
    padding: 10px;
}

button:hover{
    background-color: #ffffff;
    border-radius: 5px;
    border-color: #FDC435;
    cursor:pointer;
    
}

/*--------------------------------Header-index.html-----------------------------------*/

#headerBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
    justify-content: space-between;
}

#headerLogo{
    padding-left: 5%;
}

#headerButtons{
    display: flex;
    gap: 40px;
    padding-right: 10%;
}

.hButtons{
    padding: 20px;
}

#logoImg{
    height: 60px;
    width: auto;
}


#header{
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    width: 70%;
    height: auto;
    font-size: 24px;
    margin-bottom: 10%;
    margin-top: 10%;
    justify-content: space-between;
}

#headerTextBox{
    width: 50%;
}

#headerImg{
    background-image: url("https://firstbenefits.org/wp-content/uploads/2017/10/placeholder.png");    
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    width: 300px;
    height: 300px;
}

h4{
    color: #FDC435;
}



/*--------------------------------Content-index.html-----------------------------------*/

#content{
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 70%;
    width: 70%;
    padding-bottom: 100px;
}

#dividerText{
    text-align: center;
}

hr{
    width: 100px;
    color: #FDC435;
    margin-bottom: 5%;
}
.projectCard{
    display: flex;
    flex-direction: row;
    background-color: #7090B01A;
    height: 450px;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 5%;
}

.projectCardContent{
    align-content: center;
    flex: 0 0 50%;
}

.projectCardText{
    box-sizing: border-box;
    padding: 50px;
    text-align: center;
    font-size: 18px;
}

.projectImg{
    width: 100%;
    height: 100%;
    object-fit:cover;
    display: block;
}

/*--------------------------------Content-contact.html-----------------------------------*/

#fMessage{
    width: 400px;
    height: 200px;
    border-radius: 5px;
}

#fName, #fEmail{
    height: 20px;
    border-radius: 10px;
    padding: 10px;
}

#fSubmit{
    border-radius: 5px;
    width:20%;
    padding: 3%;
}



#inputArea{
    display: flex;
    flex-direction: column;
    align-self: center;
    font-family: 'Nunito', sans-serif;
    gap: 5px;
    font-size: 18px;
}

/*--------------------------------Content-about.html----------------------------------*/

.page2 #content{
    font-size: 18px;
}

/*--------------------------------footer------------------------------------*/

#footer{
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-top: auto;
    height: 350px;
}

.footerLogo{
    height: 50px;
    width: auto;
    margin: 5px;
}

#LdIcon{
    height: 43px;
    width: auto;
}
