body{
    margin: 0;
    padding: 0;
}

#main{
    display:flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

#header{
    display: flex;
    flex-direction: row;
    background-color: red;
    height: 20%;
}

#content{
    display: flex;
    background-color: pink;
    height: 80%;
}

#footer{
    display: flex;
    background-color: lightblue;
    height: 20%;
}