body{
    margin: 0;
    padding: 0;
}

#main{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: #F9FAFF;
}

p{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;    
    font-weight: 400;
    color: #828282;
}

h1,h2,h3{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 40px;
}

button{
    background-color: #FDC435;
    border-radius: 5px;
    border:none;
    width: auto;
    padding: 5px;
    
}

button:hover{
    background-color: #ffffff;
    border: 1px solid #FDC435;
    border-radius: 5px;
}

/*--------------------------------Header------------------------------------*/

#headerBar{
    text-align: end;
    gap: 50px;
    margin: 10px;
}

#header{
    display: flex;
    flex-direction: row;
    height: auto;
    padding: 50px;
}

#logoImg{
    height: 60px;
    width: auto;
}

/*--------------------------------Content------------------------------------*/
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    overflow: auto; 
    gap: 5%;
    padding-bottom: 100px;
}

hr{
    width: 100px;
    color: #FDC435;
}
.projectCard{
    display: flex;
    flex-direction: row;
    background-color: #7090B01A;
    height: 10%;
    width: 70%;
    border-radius: 20px;
    
}

.projectCardContent{
    flex: 0 0 50%;
    
}

.projectCardText{
    box-sizing: border-box;
    padding: 50px;
    text-align: center;
    
}

.projectImg{
    width: 100%;
    height: 100%;
    object-fit:cover;
    display: block;
}

/*--------------------------------footer------------------------------------*/

#footer{
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-top: auto;
    padding: 40px;
    height: 10%;
}

.footerImg{
    height: 50px;
    width: auto;
    margin: 5px;
}