body{
    margin: 0;
    padding: 0;
}

#main{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: #F9FAFF;
    overflow: visible;
}

p{
    font-family: 'Nunito', sans-serif;
    color: #828282;
}

h1,h2,h3{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

button{
    background-color: #FDC435;
    border-radius: 5px;
    border:none;
    width: auto;
    padding: 5px;
    
}

button:hover{
    background-color: #ffffff;
    border: 1px solid #FDC435;
    border-radius: 5px;
}

/*--------------------------------Header-index.html-----------------------------------*/

#headerBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
    justify-content: space-between;
}

#headerLogo{
    padding-left: 5%;
}

#headerButtons{
    display: flex;
    gap: 40px;
    padding-right: 10%;
}

.hButtons{
    padding: 20px;
}

#logoImg{
    height: 60px;
    width: auto;
}


#header{
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 70%;
    height: auto;
    font-size: 24px;
    margin-bottom: 10%;
}

h4{
    color: #FDC435;
}



/*--------------------------------Content-index.html-----------------------------------*/
#content{
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 70%;
    width: 70%;
    overflow: auto; 
    padding-bottom: 100px;

}
#dividerText{
    text-align: center;
}

hr{
    width: 100px;
    color: #FDC435;
    margin-bottom: 5%;
}
.projectCard{
    display: flex;
    flex-direction: row;
    background-color: #7090B01A;
    height: 450px;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 5%;
    
}

.projectCardContent{
    align-content: center;
    flex: 0 0 50%;
    
}

.projectCardText{
    box-sizing: border-box;
    padding: 50px;
    text-align: center;
    font-size: 18px;
    
}

.projectImg{
    width: 100%;
    height: 100%;
    object-fit:cover;
    display: block;
}
/*--------------------------------Content-contact.html-----------------------------------*/

#fMessage{
    width: 400px;
    height: 200px;
}

/*--------------------------------footer------------------------------------*/

#footer{
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-top: auto;
    padding: 40px;
    height: 10%;
}

.footerImg{
    height: 50px;
    width: auto;
    margin: 5px;
}